:root {
  --ifm-color-primary: #2160fd;
  --ifm-color-primary-dark: #1959fc;
  --ifm-color-primary-darker: #0f51f8;
  --ifm-color-primary-darkest: #0042e7;
  --ifm-color-primary-light: #3d72f8;
  --ifm-color-primary-lighter: #477af8;
  --ifm-color-primary-lightest: #6791fc;

  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 10%);
}

[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgb(66 66 66 / 35%);
}

[data-theme='dark'] svg {
  fill: #f3f3f3;
}

div[class^='announcementBar_'] {
  font-size: 20px;

  --site-announcement-bar-stripe-color1: #e8d7ff;
  --site-announcement-bar-stripe-color2: #ffe9d1;

  background: repeating-linear-gradient(35deg,
      var(--site-announcement-bar-stripe-color1),
      var(--site-announcement-bar-stripe-color1) 20px,
      var(--site-announcement-bar-stripe-color2) 10px,
      var(--site-announcement-bar-stripe-color2) 40px);
  font-weight: bold;
}