.container {
  transform: scale(0.9);
  transform-origin: center center;
  margin-top: -8px;
  margin-bottom: -8px;
  box-sizing: border-box;
}

.content {
  text-align: left;
  justify-content: flex-start;
  display: flex;
  flex-flow: row;
  margin: 20px 0 10px;
}

.avatarContainer {
  display: inline-block;
  vertical-align: middle;
  width: 35%;
  align-self: center;
  flex: 0 0 auto;
  height: auto;
}

.avatarWrapper {
  justify-content: flex-start;
  display: flex;
  flex-flow: row;
}

.avatarBorder {
  display: inline-block;
  width: auto;
  vertical-align: top;
  align-self: flex-start;
  flex: 0 0 auto;
  min-width: 5%;
  max-width: 85%;
  height: auto;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(255 255 255 / 0%) rgb(255 255 255 / 0%) rgb(73 29 139)
    rgb(73 29 139);
  border-radius: 100%;
  overflow: hidden;
}

.avatarImageWrapper {
  text-align: center;
  margin: 0;
  line-height: 0;
}

.avatarImage {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  line-height: 0;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(255 255 255 / 0%);
  border-radius: 100%;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.infoContainer {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  align-self: center;
  flex: 80 80 0%;
  height: auto;
  padding: 0;
}

.nameWrapper {
  justify-content: flex-start;
  display: flex;
  flex-flow: row;
}

.emptySpace {
  display: inline-block;
  vertical-align: bottom;
  width: auto;
  align-self: flex-end;
  flex: 0 0 auto;
  min-width: 5%;
  max-width: 100%;
  height: auto;
}

.nameContainer {
  display: inline-block;
  vertical-align: bottom;
  width: auto;
  align-self: flex-end;
  flex: 100 100 0%;
  height: auto;
}

.name {
  text-align: justify;
  white-space: normal;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.divider {
  margin: 0.5em 0;
  background-color: rgb(73 29 139);
  height: 1px;
}

.descriptionWrapper {
  justify-content: flex-start;
  display: flex;
  flex-flow: row;
}

.descriptionContainer {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  align-self: flex-start;
  flex: 0 0 auto;
  padding: 10px 15px 15px;
  background-color: rgb(255 255 255 / 0%);
}

.description {
  text-align: justify;
  white-space: normal;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #444;
}

@media (width <= 768px) {
  .container {
    transform: scale(1);
    margin: 0;
  }

  .content {
    flex-direction: row;
  }

  .avatarContainer {
    text-align: center;
    margin-bottom: 15px;
  }

  .avatarWrapper {
    justify-content: center;
  }

  .avatarBorder {
    max-width: 180px;
  }

  .infoContainer {
    flex: 1;
  }

  .name {
    text-align: left;
  }

  .description {
    text-align: left;
  }
}

@media (width <=480px) {
  .avatarContainer {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .avatarBorder {
    max-width: 110px;
    border-width: 6px;
  }

  .avatarImage {
    border-width: 6px;
  }

  .nameContainer {
    padding-left: 0;
  }

  .descriptionContainer {
    padding: 5px 0;
  }

  .name {
    font-size: 0.9em;
  }

  .description {
    font-size: 0.9em;
  }
}
